/* Contenedor principal de la página */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
}

/* El contenido principal ocupará el espacio disponible */
.main-content {
  flex-grow: 1; /* El contenido crece para llenar el espacio disponible */
}

/* Estilo del footer */
footer {
  margin-top: 50px; /* Espacio entre el contenido principal y el footer */
  background-color: #003c71;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

/* Media Queries para pantallas más pequeñas */

/* Pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  footer {
    padding: 20px 15px; /* Reducimos el padding del footer en pantallas más pequeñas */
  }
}

/* Pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  footer {
    padding: 15px 10px; /* Ajustamos aún más el padding en pantallas más pequeñas */
  }
}
